
{% block content %}

<section>
	{{ html.img('questions.png', { alt: 'questions', 'path': 'Template'}) }}
</section>
<footer>
	<h2>¡Gracias!</h2>
	<hr>
	<div class="socialmedia">
		<a href="">github.com/ldonis</a>
		<a href="">emc2@ldonis.com</a>
		<a href="">fb.com/LesliTech</a>
	</div>
</footer>

{% endblock %}
