
// * Template
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require '../../Template/css/template'


// * Carga modulos de Lesli CSS
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require Lesli--load('helper')


// * Header
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
header
	text-align center
	background-color lighten($color-gray, 11.5)
	lesli-helper-center('vertical')
	height 100vh

	img
		width 150px

	hr
		width 60%
		height 1px
		margin 1rem auto
		background-color $color-blue

	h1
		font-size 3.5rem
		font-family $font-family-special

	p
		font-style italic


// * Links
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
section
	
	div
		display flex
		padding 5rem 0
		justify-content center

		a
			width 225px
			padding 1rem
			text-align center
			border-radius 3px
			background-color $color-blue
			border 1px solid $color-blue
			text-shadow 0px -2px darken($color-blue, 5)
			transition all linear 0.2s

			&:not(:first-child)
				margin-left 15px

			img
			span
				vertical-align middle

			img
				width 50px

			span
				color $color-white

			&:hover
				box-shadow 0px 0px 15px rgba($color-blue, .6)
				


// * Footer
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
footer
	text-align center
	padding 2rem
		
	a
		font-size .8rem

	p
		font-size .7rem