---
title: A.I. & Software Development
layout: slide
---
%main.slides

    %section
        = image_tag 'slides/ai-and-software-development/ai-and-software-development.svg'
        %h1 A. I. and Software Development
        %hr
        %h2 Building smart apps

    %section
        = partial "partials/_about"

    %section
        que es AI
        como funciona la AI
        Aprendizaje supervisado
        Aprendizaje no supervisado
        Aprendizaje reforzado
        What can we do
        '-predictive analytics'
        '-test automation'
        '-cognitive automation'
        '-bring smart capabilities to software'
        what can we do (advanced)
        '-predictive actions'
        '-data forecasting'
        '-natural process language'
        '-object recognition'
        tools
        '-tensorflow'
        '-tesseract'
        models

    %section
        = partial "partials/_questions"

    %section>
        = partial "partials/_thanks"
