---
title: Full Stack JavaScript
layout: slide
---

<main class="slides">

    <section>
        <%= image_tag "slides/full-stack-javascript/full-stack-javascript.png" %>
        <h1>Full Stack JavaScript</h1>
        <hr />
        <h2>server - web - mobile</h2>
    </section>

    <section>
        <%= partial "partials/_about" %>
    </section>

    <section> 
        <h1>Agenda</h1>
        <hr />
        <p></p>
        <p>¿Javascript?</p>
        <p>Frontend</p>
        <p>Backend</p>
        <p>Mobile</p>
        <p>Desktop</p>
        <p>Database</p>
        <p>Machine Learning</p>
    </section>

    <section>
        <h1>Javascript :D</h1>
        <hr>
        <p>Netscape 1995</p>
        <p>JavaScript 1.1 y ECMA 1997 </p>
        <p>¡¡ AJAX !! 2005</p>
        <p>Google Chrome</p>
        <p>ECMAScript 5/6</p>
        <p>NodeJS by Ryan Dahl</p>
        <p>NPM</p>
    </section>

    <section>
        <%= partial "partials/_questions" %>
    </section>

    <section>
        <%= partial "partials/_thanks" %>
    </section>

</main>
