
{# extending template #}
{% extends template.layout('ppt') %}


{% block content %}

<header>
	<img alt="mailchimp logo" src="https://static.mailchimp.com/web/brand-assets/logo-script-dark.svg">
	<hr></hr>	
	<p>e-mail marketing automation for your businesses</p>
</header>

{% include template.partial('header') %}

<section id="agenda">
	<h3>Agenda</h3>
	<ul>
		<li>Correo electronico
			<ul>
				<li>¿Que es?</li>
				<li>¿Como funciona?</li>
				<li>Seguridad</li>
			</ul>
		</li>
		<li>Mailchimp
			<ul>
				<li>¿Que es?</li>
				<li>¿Porque lo necesito?</li>
				<li>¿Como funciona?</li>
			</ul>
		</li>
		<li>Lista de suscriptores</li>
		<li>Campañas</li>
	</ul>
</section>

<section>
	<h3>¿Que es el correo electronico?</h3>
	<hr>
	<p>Es un sistema de intercambio de mensajes entre dispositivos electronicos.</p>
	<p>En 1970 Ray Tomlinson creo la primera aplicacion practica como parte del proyecto ARPANET en el instituto Tecnologico de Massachusetts.</p>
</section>

<section>
	<h3>¿Como funciona?</h3>
	<hr>
	<img src="http://comofuncionaque.com/wp-content/uploads/2015/01/Paso-a-paso-como-funciona-el-sistema-de-correo-electronico-700x581.png">
</section>

<section>
	<h3>Seguridad</h3>
	<hr>
	<p>Las direcciones de correo deben ser verificadas</p>
	<p>No listas de spam</p>
</section>

<section>
	<h3>Mailchimp</h3>
	<hr>
	<p class="center">Plataforma de automatizacion de email marketing</p>
	<ul class="list-simple">
		<li>Fundada en 2001</li>
		<li>Utiliza Mandril para envio de emails</li>
	</ul>
</section>

<section>
	<h3>Porque lo necesito?</h3>
	<hr>
	<p class="center">Automatizacion</p>
	<p class="center">Monitorizacion</p>
	<p class="center">Reportes (informacion)</p>
	<p class="center">Integracion</p>
</section>

<section>
	<h3>Como funciona?</h3>
	<hr>
	<ul class="list-simple">
		<li>Crear cuenta</li>
		<li>Suscriptores
			<ul>
				<li>Importar suscriptores</li>
				<li>Formulario de suscripcion</li>
			</ul>
		</li>
		<li>Campaña
			<ul>
				<li>Diseñar email
					<ul>
						<li>Mailchimp editor</li>
						<li>
							<a href="https://topol.io/">
								Escribir codigo :)
							</a>
						</li>
						<li>
							<a href="https://mosaico.io/">
								Importar email
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="https://kb.mailchimp.com/merge-tags/all-the-merge-tags-cheat-sheet">
						Integrar email
					</a>
				</li>
				<li>Templates</li>
			</ul>
		</li>
		<li>Anuncios (ad)</li>
		<li>Automatizacion</li>
	</ul>
</section>

<section>
	<h3>DEMO</h3>
</section>


{{ include(template.partial('footer'), { link: 'fb.com/Mailchimp' }) }}


{% endblock %}
