
// * Template
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require '../../Template/css/template'


// * Carga modulos de Lesli CSS
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
//@require Lesli--load('helper')


// * About
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
section.intro

	img
		width 200px


// * Arpanet
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
section.arpanet	
	background-color rgba(255, 255, 255, .7)

	p
		padding 0 2rem


// * Mosaic
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
section.mosaic
	background-color rgba(255, 255, 255, .9)


// * Navegadores
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
section.browser
	img
		width 100px




// * Backgrounds
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
div.slide-background

	&.arpanet
		background-image url(Lesli--image('arpanet.jpg'))


	&.mosaic
		background-image url(Lesli--image('mosaic.jpg'))