
// * Carga modulos de Lesli CSS
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require Lesli--load('helper')


header
section
footer
	lesli-helper-center('vertical')
	height 100vh
	margin 0 auto


header

	hr
		width 80%
		margin-bottom .8rem
		border-top-color $color-blue

#about
	
	h1
		font-size 4rem
		font-family $font-family-special
		
	hr
		margin 0px auto 10px
		
	h2
		font-size 2rem
		font-family $font-family-title

footer

	h2
		font-size 3.5rem
		font-family $font-family-title
		
	hr
		width 75%
		margin 10px auto


hr
	width 100%
	display block
	margin 0 auto
	border-top 1px solid $color-gray
	border-bottom 0