
// * Carga modulos de Lesli CSS
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require Lesli--load('helper')


header
section
footer
	lesli-helper-center('vertical')
	height 100vh
	margin 0 auto


header

	h1
		font-size 2.5rem

	hr
		width 80%
		margin-bottom .8rem
		border-top-color $color-blue

#about
	
	h1
		font-size 4rem
		font-family $font-family-special
		
	hr
		width 80%
		margin 0px auto 10px
		
	h2
		font-size 2rem
		font-family $font-family-title

#agenda
	
	h3
		width 320px
		text-align center
		margin-bottom 10px
		border-bottom 1px solid $color-gray
		&:before
			content "\0023"
			padding-right 5px
			color $color-blue
	
	ul
		li
			margin-bottom 3px
			&:before
				content "\2219"
				padding-right 5px
				color darken($color-gray, 40)
			
			ul
				padding-left 40px
				
				li:before
					content "-"

section
	h3
		font-size 2.5rem
	
	hr
		margin 5px auto 10px
		width 50%
		
	p
		width 90%
		margin 5px auto
		max-width 1200px


footer

	h2
		font-size 3.5rem
		font-family $font-family-title
		
	hr
		width 75%
		margin 10px auto
		
	p.socialmedia
		margin-top 25px
		span
			margin 0 20px


div.socialmedia
	width 98%
	max-width 1200px
	display flex
	justify-content space-between
	padding 0 25px 25px
	font-size 1.3rem
	

/*
* Helpers
*/
hr
	width 100%
	display block
	margin 0 auto
	border-top 1px solid $color-gray
	border-bottom 0

a
	text-decoration underline


.center
	text-align center
	

.list-simple
	
	li
		&:before
			content "\2219"
			
		ul
			padding-left 40px
			
			li
				font-size .9rem

			li:before
				content "\2218"