
// * Global color pallete
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$color-white = #ffffff
$color-gray = #eee
$color-gray-light = lighten($color-gray, 4)
$color-gray-dark = darken($color-gray, 25)
$color-black = #1d1d1d
$color-black-mate = #444
$color-blue-donis = lighten(#2280BF,5)


// * Font families
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$font-family-body = 'opensans300', sans-serif
$font-family-title = 'opensans300', sans-serif
$font-family-title-main = 'pinyon', sans-serif
