
// * Global color pallete
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$color-white = #ffffff
$color-black =  #444444

$color-gray = #dddddd
$color-blue = #3498DB


// * Font families
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
$font-family-body = 'opensans300', sans-serif
$font-family-title = 'roboto100', $font-family-body
$font-family-special = 'pinyon', $font-family-title
