
{# extending template #}
{% extends template.layout('default') %}


{% block content %}

<header>
	{{ html.img('slide-play.png', { alt:'' }) }}
	<hr>
	<h1>ldonis</h1>
	<p>Slides for talks &amp; workshops</p>
</header>
<section>
	<div>
		<a href="{{ html.url('mailchimp') }}">
			<span>Mailchimp</span>
		</a>
	</div>
</section>

{% endblock %}
