
// * Template
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require '../../Template/css/template'


// * Carga modulos de Lesli CSS
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
//@require Lesli--load('helper')


// * About
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
section.intro

	img
		width 100px


section.vps
	img
		width 80px


section.provider
	table
		margin 0 auto
	img
		width 190px

section.connection
	text-align left

