@font-face {
  font-family: 'opensans300';
  src: url("https://cdn.lesli.tech/assets/fonts/opensans/opensans-300.ttf") format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'roboto100';
  src: url("https://cdn.lesli.tech/assets/fonts/roboto/roboto-100.woff") format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'pinyon';
  src: url("https://cdn.lesli.tech/assets/fonts/pinyon/pinyon.woff") format('woff');
  font-weight: 100;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: inherit;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
}
ul li {
  list-style: none;
}
* {
  font-family: 'opensans300', sans-serif;
  color: #444;
}
html,
body {
  font-size: 1.2rem;
}
section.intro img {
  width: 100px;
}
section.vps img {
  width: 80px;
}
section.provider table {
  margin: 0 auto;
}
section.provider img {
  width: 190px;
}
section.connection {
  text-align: left;
}
