
// * Template
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require '../../Template/css/template'


// * Carga modulos de Lesli CSS
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require Lesli--load('lesli')

@require '../../Template/css/slides'

header
	background-image url(Lesli--image('cat-sleeping.jpg'))
	background-image linear-gradient(to bottom, rgba(255,255,255,.7), rgba(255,255,255,.7)),  url(Lesli--image('cat-sleeping.jpg'))
	background-repeat no-repeat
	background-position center
	background-size cover
	
	img
		margin-bottom 20px
		width 190px
