
// * Template
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require '../../Template/css/template'


// * Carga modulos de Lesli CSS
// * ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~  ~·~
@require Lesli--load('lesli')

@require '../../Template/css/slides'

header
	background-image url(Lesli--image('cat-sleeping.jpg'))
	background-image linear-gradient(to bottom, rgba(255,255,255,.7), rgba(255,255,255,.7)), url(Lesli--image('cat-sleeping.jpg'))
	background-repeat no-repeat
	background-position center
	background-size cover
	
	img
		margin-bottom 20px
		width 190px


section
	background-repeat no-repeat
	background-position center
	background-size cover
	text-align center
	
	h3
	p
		text-shadow 0px 0px 5px #fff
		
	hr
		border-top 1px solid darken($color-gray, 20)

section.about
	background-image linear-gradient(to bottom, rgba(255,255,255,.85), rgba(255,255,255,.85)), url(Lesli--image('section.about.jpg'))
	
section.time
	background-image linear-gradient(to bottom, rgba(255,255,255,.8), rgba(255,255,255,.8)), url(Lesli--image('section.time.gif'))

section.organization
	background-image linear-gradient(to bottom, rgba(255,255,255,.6), rgba(255,255,255,.6)), url(Lesli--image('section.organization.jpg'))
	
section.gtd
	background-image url(Lesli--image('section.gtd.svg'))
	background-size contain

section.gtd-organize
	ul li
		text-align left
		list-style-type circle
		
section.gtd-evaluar
	background-image linear-gradient(to bottom, rgba(255,255,255,.75), rgba(255,255,255,.75)), url(Lesli--image('section.gtd-inbox.gif'))
	

section.calendar
	background-image linear-gradient(to bottom, rgba(255,255,255,.6), rgba(255,255,255,.6)), url(Lesli--image('section.organization.jpg'))