---
title: 
layout: slide
---
<main class="slides">

    <section id="start">
            <%= image_tag 'slides/cloud-iot/iot.svg' %>
            <h1>Cloud infraestructure</h1>
            <hr />
            <h2>for Internet of Things</h2>
            <div class="control">
                <a href="#slide1">start</a>
            </div>
    </section>

    <section id="slide1">
        slide 1
        <div class="controls">
            <a href="#start"></a>
            <a href="#slide2"></a>
        </div>
    </section>

    <section id="slide2">
        slide 2
        <div class="controls">
            <a href="#slide1"></a>
            <a href="#slide3"></a>
        </div>
    </section>
    
    <section id="slide3">
        slide 3
        <div class="control">
            <a href="#start">restart</a>
        </div>
    </section>

</main>
