---
title: Cloud Infraestructure for Internet of Things
layout: slide
---

<main class="slides">

    <section>
        <%= image_tag 'slides/cloud-iot/iot.svg' %>
        <h1>Cloud infrastructure</h1>
        <hr />
        <h2>for Internet of Things</h2>
    </section>

    <section>
        <%= partial "partials/_about" %>
    </section>

    <section>
        <article>
            <h1>Agenda</h1>
                <p>cloud computing</p>
                <p>internet of things</p>
                <p>Integrations</p>
                <p>How to</p>
        </article>
        <video width="400" autoplay loop>
            <source src="https://s3.amazonaws.com/devdojo.com/fun/April2018/V7ge4rU.mp4" type="video/mp4">
        </video> 
    </section>

    <section>
        <img src="https://cdn-images-1.medium.com/max/1600/1*F3vcEm8IqJGe0v-KlOnknQ.jpeg" alt="">
        <!--
        <h1 class="text-shadow-white">Cloud Computing</h1>
        <hr />
        -->
    </section>
    
    <section>
        <h1>Proveedores</h1>
        <p>amazon</p>
		<p>digital ocean</p>
		<p>azure, google...</p>
    </section>

    <section>
        <h1>Servidores Privados Virtuales</h1>
    </section>

    <section>
        <h1>Infraestructure as a Service (IaaS)</h1>
    </section>

    <section>
        <h1>Software as a Service (SaaS)</h1>
    </section>

    <section>
        <h1>SSH, FTP, SCP</h1>
    </section>

    <section class="iot">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ221HaXZEkIb-JTsulZpUT7jmRIkBMranQo6ym9snDasW2OLZJ" alt="">
    </section>

    <section>
        <article>
            <h1>Internet of Things</h1>
            <p>Captura/almacenamiento de datos (sensores)</p>
            <p>Presentacion de datos a personas</p>
            <p>Ejecutar una accion</p>
        </article>
        <video src="https://s3.amazonaws.com/devdojo.com/fun/March2018/zzif68H.mp4" type="video/mp4" autoplay loop></video>
    </section>

    <section>
        <article>
            <h1>Cloud Computing &amp; IoT</h1>
        </article>
        <video src="https://s3.amazonaws.com/devdojo.com/fun/March2018/KKAda2o.mp4" type="video/mp4" autoplay loop></video>
    </section>

    <section>
        <h1>Conversion de protocolos</h1>
    </section>

    <section>
        <h1>MQTT</h1>
        <p>subscription/publish</p>
        <p>database</p>
        <p>alerts</p>
    </section>

    <section>
        <h1>HTTP</h1>
        <p>authentication</p>
        <p>database</p>
        <p>log</p>
        <p>management</p>
    </section>

    <section>
        <h1>WS</h1>
        <p>MQTT for web browsers</p>
    </section>

    <section>
        <article>
            <h1>Integrations</h1>
            <hr>
            <p>MongoDB</p>
            <p>SMTP</p>
            <p>CloudMQTT</p>
            <p>Firebase</p>
            <p>AWS - SES/SNS/S3</p>
        </article>
        <video src="https://s3.amazonaws.com/devdojo.com/fun/March2018/lNCHckF.mp4" type="video/mp4" autoplay loop></video>
    </section>

    <section>
        <h1>How To</h1>
    </section>


    <section>
        <article>
            <h1>NodeJS</h1>
            <p>JavaScript server side</p>
        </article>
        <video src="https://s3.amazonaws.com/devdojo.com/fun/March2018/yYYHmLp.mp4" type="video/mp4" autoplay loop></video>
    </section>


    <section>
        <h1>Mosca</h1>
    </section>


    <section>
        <h1>Express</h1>
    </section>

    <section>
        <h1>NGINX</h1>
    </section>

    <section>
        <article class="bg-5">
            <h1>Let's put all that crazy software work together</h1>
            <hr>    
            <p>demo</p>
        </article>
        <video src="https://s3.amazonaws.com/devdojo.com/fun/May2018/ibWYQ8Q.mp4" type="video/mp4" autoplay loop></video>
    </section>

    <section>
        <%= partial "partials/_questions" %>
    </section>

    <section>
        <%= partial "partials/_thanks" %>
    </section>

</main>
