---
title: 
layout: slide
---

<main class="slides">

    <section>
        <%= image_tag 'slides/cloud-iot/iot.svg' %>
        <h1>Cloud infraestructure</h1>
        <hr />
        <h2>for Internet of Things</h2>
    </section>

    <section>
        <%= partial "partials/_about" %>
    </section>

    <section id="slide1">
        <h2>
        Cloud Computing
        </h2>
    </section>

    <section>
        <h2>
        Proveedores
        </h2>
    </section>

    <section>
        <h2>
        Servidores Privados Virtuales
        </h2>
    </section>

    <section>
        <h2>
        Infraestructure as a Service (IaaS)
        </h2>
    </section>

    <section>
        <h2>
        Software as a Service (SaaS)
        </h2>
    </section>

    <section>
        <h2>
        SSH, FTP, SCP
        </h2>
    </section>

    <section>
        <h2>
        Internet of Things
        </h2>
        Captura/almacenamiento de datos (sensores)
        * Presentacion de datos a usuarios
    * Ejecutar una accion
    </section>

    <section>
        <h2>
        Cloud Computing & IoT
        </h2>
    </section>

    <section>
        <h2>
        Conversion de protocolos
        </h2>
    </section>

    <section>
        <h2>
            * MQTT
        </h2>
                * subscription/publish
        * database
        * alerts
    </section>

    <section>
        <h2>
            * HTTP
        </h2>
                * authentication
        * database
        * log
        * management
    </section>

    <section>
        <h2>
        * WS (MQTT for web browsers)
        </h2>
    </section>

    <section>
        <h2>
            * Integrations

        </h2>
                * MongoDB
        * Mailgun (SMTP)
        * CloudMQTT
    </section>

    <section>
        <h2>
        * How To
        </h2>
    </section>


    <section>
        <h2>
        * NodeJS
        </h2>
    </section>


    <section>
        <h2>
        * Mosca
        </h2>
    </section>


    <section>
        <h2>
        * Express
        </h2>
    </section>

    <section>
        <h2>
        * NGINX
        </h2>
    </section>

    <section>
        <h2>
            Let's put all that crazy software work together
        </h2>
    </section>

    <section>
        <%= partial "partials/_questions" %>
    </section>

    <section>
        <%= partial "partials/_thanks" %>
    </section>

</main>
