---
title: 
layout: default
---
<header class="<%= page_classes %>">
	<h1>ldonis</h1>
	<hr />
	<p>Slides for talks &amp; workshops</p>
</header>
<section class="<%= page_classes %>">
    <%= image_tag 'slide-play.png' %>
	<hr>
	<div>
        <% link_to('/cloud-iot.html') do %>
            <span>Cloud IoT</span>
        <% end %>
		<% link_to('/software-development-roadmap.html') do %>
            <span>Software Development roadmap</span>
        <% end %>
		<% link_to('/ai-and-software-development.html') do %>
            <span>A.I. and Software Development</span>
        <% end %>
	</div>
</section>
