---
title: Index
---
<header class="<%= page_classes %>">
	<h1>ldonis</h1>
	<hr />
	<p>Slides for talks &amp; workshops</p>
</header>
<section class="<%= page_classes %>">
    <%= image_tag 'slide-play.png' %>
	<hr>
	<div>
		<% link_to('/talks/ai-and-software-development') do %>
            <span>A.I. and Software Development</span>
        <% end %>

		<% link_to("/talks/full-stack-javascript") do %>
            <span>Full Stack <br> JavaScript</span>
        <% end %>
	</div>
</section>
