---
title: 
layout: default
---
<header class="<%= page_classes %>">
	<h1>ldonis</h1>
	<p>Slides for talks &amp; workshops</p>
</header>
<section class="<%= page_classes %>">
    <%= image_tag 'slide-play.png' %>
	<hr>
	<div>
        <% link_to('/cloud-iot.html') do %>
            <span>Cloud IoT</span>
        <% end %>
	</div>
</section>
